.centered {
    width: 100vw;
    height: 100vh;
    margin: 40vh auto; /* Decreased margin for mobile */
    text-align: center;
  }
  
  .centered h4 {
    color: #FFFFFF;
    font-size: 1.8em; /* Decreased font size for mobile */
    font-weight: bold;
  }
  
  .no, .yes {
    padding: 8px 16px; /* Decreased padding for mobile */
    background-color: #D8124B;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .yes {
    margin-left: 5px; /* Adjusted margin for mobile */
    background-color: #12D890;
  }
  
  .signature {
    margin-top: 10px; /* Decreased margin for mobile */
    width: 100%;
  }
  
  .signature p {
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.8em; /* Decreased font size for mobile */
    color: #FFFFFF;
  }

  
  .no:hover {
    animation: moveButton 50s ease;
  }
  
  @keyframes moveButton {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1000px);
    }
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {
    .centered {
        width: 100vw;
        height: 100vh;
        margin: 35vh 2vw; /* Decreased margin for mobile */
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .no, .yes {
      margin-top: 20px;
      padding: 15px 22px; /* Decreased padding for mobile */
      background-color: #D8124B;
      border-radius: 8px;
      align-items: center;
      transition: transform 0.3s ease;
    }
    
    .yes {
      margin-left: 10px; /* Adjusted margin for mobile */
      background-color: #12D890;
    }
    .signature {
      margin-top: 25px; /* Decreased margin for mobile */
      width: 100%;
    }
    
  }
  